// Colours
$purple: #ba0ef0;
$dark-purple: #5f368d;
$blue: #2980b9;
$dark-blue: #2c3e50;
$green: #20a95a;
$light-green: #1abc9c;
$yellow: #f1c40f;
$orange: #ff740f;
$red: #d62c1a;
$dark-grey: #738394;
$grey: #aeb4bb;
$light-grey: #d5dadc;

$text-colour: $dark-blue;

// Media Query Breakpoints
$break-small: 320px;
$break-medium-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
